* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: rgb(170, 149, 115);
    --secondary-color: #8d8d8d;
    --terciary-white: #fefefe;
    --accent-color: #d4af7f;
    --background-color: #f5f5f5;
    --background-rgba-White: rgba(221, 221, 221, 0.26);
    --text-color: #535353;
    --text-color-black: #090909;
    --highlight-color: #c0a080;
    --font-jost: 'Jost', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'montserrat' !important;
    font-weight: 300 !important;
    color: var(--text-color) !important;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--background-color) !important;
    font-size: 1.1rem !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem !important;
    font-weight: 700;
    color: var(--accent-color) !important;
}

h2 {
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: start;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--primary-color);
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}


header {
    position: relative !important;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

/* Botón subir */
.btn-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--terciary-white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.btn-top.show {
    opacity: 1;
    visibility: visible;
}

.btn-top:hover {
    background-color: var(--accent-color);
    transform: translateY(-3px);
}

.btn-top i {
    font-size: 1.2rem;
}


.btn {
    width: 180px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: var(--terciary-white) !important;
    padding: 15px 20px !important;
    background-color: var(--primary-color) !important;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--accent-color) !important;
    color: var(--accent-color);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.btn a:hover {
    color: var(--accent-color);
    text-decoration: none;
}



/* Navegación */
nav {
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all 0.3s ease;
}

nav.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.452) !important;
}

.logo {
    margin-left: 60px;
}

.logo a {
    font-family: var(--font-jost);
    font-size: 2.5rem;
    color: var(--terciary-white);
    text-decoration: none;
    font-weight: 200;
    transition: all 0.3s ease;
}

.logo a:hover {
    color: var(--accent-color) !important;

}

strong {
    font-weight: 700 !important;
}

/* Menú Hamburguesa */
.hamburger {
    display: none;
    cursor: pointer;
    z-index: 1001;
    background: transparent;
    border: none;
    padding: 0.5rem;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background: var(--terciary-white);
    transition: all 0.3s ease-in-out;
}

/* Estado activo del menú hamburguesa */
.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    width: 25px;
    opacity: 0;
}

.hamburger span:nth-child(2) {
    width: 25px;
    margin-left: auto;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding-right: 80px;
    list-style: none;
}

.nav-link {
    position: relative;
    text-decoration: none;
    font-weight: 400 !important;
    padding: 0.5rem 1rem!important;
    font-size: 1.1rem !important;
    transition: all 0.3s ease-in-out;
    color: var(--terciary-white) !important;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--accent-color) !important;
}

.nav-link::before {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--primary-color);
    bottom: -2px;
    right: 0;
    width: 0%;
    transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.nav-link:hover:before {
    left: 0;
    width: 100%;
}

.activo {
    color: var(--highlight-color) !important;
    border-bottom: 2px solid var(--highlight-color)!important;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -30px;
    display: none;
    padding: 1rem;
    min-width: 250px !important;
    list-style: none;
    z-index: 1000;
    border: none !important;
    border-radius: 0 !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(34, 34, 34, 0.8))!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.6s ease;
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--terciary-white);
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 300;
}

.dropdown-menu a:hover {
    color: var(--accent-color);
}

/* Animacion dropdown */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.452);
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
}

.hero-content-slider2 {
    width: 97%;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.sliderHero {
    width: 100%;
    height: 100vh;
}

.sliderHero2 {
    margin-top: 100px;
}

.sliderHero img,
.sliderHero2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.sliderHero img {
    filter: brightness(0.5);
    animation: slowZoom 40s infinite;
}

.sliderHero2 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    position: relative;
}

@keyframes slowZoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

/* Contenido del hero */

.content-title {
    position: absolute;
    top: 45%;
    left: 42%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--terciary-white);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-title h1 {
    font-size: clamp(1.5rem, 2vw, 2rem) !important;
    text-align: start;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
    letter-spacing: -2px !important;
}

.content-title p {
    width: 100%;
    max-width: 900px;
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 500;
    line-height: clamp(60px, 8vw, 90px);
    margin-bottom: 1rem;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.345);
    letter-spacing: -5px !important;

}

.content-title button {
    width: 180px;
    font-size: clamp(1rem, 2vw, 1.1rem) !important;
    padding: 10px 20px;
    background-color: var(--background-rgba-White);
    color: var(--terciary-white);
    border: 1.8px solid var(--terciary-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content-title button a {
    text-decoration: none;
    color: var(--terciary-white);
}

.content-title button a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

.content-title button:hover {
    background-color: var(--background-color);
    color: var(--accent-color);
    border-color: var(--accent-color);
}



.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    position: absolute;
    top: 83%;
    left: 3%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--terciary-white);
    z-index: 100;
}

.social-icons a {
    color: var(--terciary-white);
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    color: var(--accent-color);
    transform: translateX(5px);
}

/* Slider control externo */

.slider-controls {
    position: absolute;
    left: 28%;
    bottom: 5%;
    display: flex;
    gap: 10px;
    z-index: 20;
}

.slider-controls button {
    background-color: transparent;
    color: var(--terciary-white);
    border: 1.5px solid var(--terciary-white);
    padding: 20px 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-controls button:hover {
    background-color: var(--terciary-white);
    color: var(--accent-color);
}

.containerShadow {
    width: 60%;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.354);
    margin: 20px 0;
    bottom: -18px;
    right: 0;
}

/* Main */

.title-h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--text-color-black);
}

.p-title {
    color: var(--primary-color);
}

.row-about {
    margin-top: -40px;
    position: relative;
    top: -50px;
    left: 0;
}

.text-about {
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: end;
}

.img-about {
    padding-top: 104px;
}

/* Galería de proyectos */

.galeryPro {
    margin: 0 auto;
    width: 100%;
    height: 550px;
    display: flex;
}

.galeryPro img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    /* opacity:  .9; */
    filter: brightness(0.5);
    transition: .5s ease;

}

.galeryPro img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: brightness(1.2);
}

.container-img-galery {
    width: 0px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;

}

.container-img-galery:hover {
    cursor: crosshair;
    width: 450px;
    opacity: 1;
    filter: brightness(1);
}

.container-img-galery:hover h2 {
    bottom: 10px;
    transform: rotate(0deg);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-weight: 600;
    filter: brightness(1);
    border: 1px solid var(--terciary-white);
    border-radius: 5px;
}

.container-img-galery h2 {
    position: absolute;
    color: var(--terciary-white);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    transition: .7s ease;
    transform: rotate(-90deg);
    bottom: 135px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;
}

.container-img-galery h2:hover {
    background-color: var(--background-rgba-White);
}

.container-img-galery h2 a {
    width: 100%;
    text-decoration: none;
    color: var(--terciary-white);
    padding: 30px;
    text-align: center;
}

.container-img-galery-R {
    width: 100%;
    height: 300px;
}


/* Cómo trabajamos */
.card-work {
    background-color: transparent !important;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--primary-color) !important;
}

.card-work:hover .title-work,
.card-work:hover .number-work,
.card-work:hover .link-work a i,
.card-work:hover .link-work a,
.card-work:hover .text-work {
    color: var(--terciary-white);
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.card-work:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/img-hero1.jpg);
    background-size: cover;
    filter: brightness(0.6)opacity(0.7);
    z-index: -1;
}

.cw-1:hover::before {
    background: url(../images/img-hero3.jpg);
    background-size: cover;
    filter: brightness(0.6)opacity(0.7);
}

.cw-2:hover::before {
    background: url(../images/img-hero2.jpg);
    background-size: cover;
    filter: brightness(0.6)opacity(0.7);
}

.cw-3:hover::before {
    background: url(../images/img-hero4.jpg);
    background-size: cover;
    filter: brightness(0.6)opacity(0.7);
}

.number-work {
    font-size: 3.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.title-work {
    border-bottom: 2px solid var(--text-color-black);
}

.card-work:hover .title-work {
    border-bottom: 2px solid var(--terciary-white);
}


.link-work a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link-work i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;
    transition: all 0.3s ease;
}

/* Video Presentacíon */

.sticky-hero {
    position: relative;
    z-index: 1;
}

.sticky-hero__media {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.sticky-hero--overlay-layer .sticky-hero__media::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    /* background-color: hsl(var(--sy8-color-bg-hsl)); */
    transition: opacity 1s;
}

.sticky-hero--media-is-fixed.sticky-hero--overlay-layer .sticky-hero__media::after {
    opacity: 0.65;
}

.sticky-hero--media-is-fixed.sticky-hero--scale .sticky-hero__media {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.sticky-hero__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.sticky-hero__video video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    max-width: none;
}

.sticky-hero__content {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness(0.5)opacity(0.9);
}


/* Archivo Json */
.containerJson {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.news-card {
    width: 400px;
    background-color: var(--terciary-white);
    overflow: hidden;
    transition: transform 0.3s ease;
    border: 1px solid var(--primary-color);
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(0.9);
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 20px;
}

.news-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--text-color-black);
}

.news-content .date {
    font-size: 0.9rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
    display: block;
}

.news-content p {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.4;
}

/* Testimonios */

.testimonials-section {
    position: relative;
    padding: 4rem 0;
    overflow: hidden;
}

.img-testimonials {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.swiper-testimonials {
    position: relative;
    height: auto;


    border-radius: 5px;
    margin-left: -150px;
    padding: 2rem;
}

.testimonials .swiper-slide {
    background-color: var(--terciary-white);
    padding: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.testimonials .swiper-slide img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
}

.testimonials .swiper-slide h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: var(--text-color-black);
}

.testimonials .swiper-slide p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.testimonials .p-title {
    color: var(--primary-color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Footer  */
.footer-section {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.144) 0%, transparent 100%);
    padding: 5rem 0 2rem;
    color: var(--text-color);
    position: relative;
}


.footer-section::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, transparent 100%);
}

.footer-logo {
    font-family: var(--font-anton);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-color-black);
}

.footer-description {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.footer-social {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-social .social-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer-social .social-link:hover {
    background-color: var(--primary-color);
    color: var(--terciary-white);
}

.footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--text-color-black);
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.8rem;
}

.footer-links a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-contact i {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.footer-divider {
    margin: 3rem 0 2rem;
    border-color: var(--text-color-black);

}

.footer-bottom {
    padding-top: 1rem;
}

.copyright {
    margin: 0;
    font-size: 0.9rem;
}

.footer-legal {
    font-size: 0.9rem;
}

.footer-legal a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-legal a:hover {
    color: var(--primary-color);
}

.footer-legal .separator {
    margin: 0 1rem;
    color: var(--primary-color);
}

/* Media queries */
@media (max-width: 992px) {
    .footer-section {
        padding: 4rem 0 2rem;
    }
}

@media (max-width: 768px) {
    .footer-bottom {
        text-align: center;
    }

    .footer-legal {
        margin-top: 1rem;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .footer-social {
        justify-content: center;
    }

    .footer-title {
        margin-top: 2rem;
    }
}


/* **********************************************************************************************
*************************************************************************************************
*******************************GALERIA********************************************************* */
.header-galeria {
    width: 100%;
    height: 60vh;
}

.hero-G {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/img-hero1.jpg) no-repeat center center/cover;
    filter: brightness(0.6);
    background-attachment: fixed;
}

.hero-title-G {
    width: fit-content;
    height: fit-content;
    color: var(--terciary-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269);
    border-left: 2px solid var(--accent-color) !important;
    padding-left: 20px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-title-G h1 {
    font-size: 3rem;
    letter-spacing: -3px !important;
}

/* Galeria de imagenes */

.img-gallery-special{
    width: 100%;
    height: 600px;
    transition: all 0.5s ease;
    margin: 0;
    object-fit: cover;

}

.img-gallery-1 {
    width:100%;
    height:300px;
    object-fit: cover;
    transition: all 0.5s ease-out;

}

.img-gallery-1:hover,
.img-gallery-special:hover {
    filter: brightness(0.6);
}


/* ***************************************************************************
******************************************************************************
*****************************CONTACTO*************************************** */


.hero-C {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/ofices.jpg) no-repeat center center/cover;
    filter: brightness(0.6);
    background-attachment: fixed;
}

#map {
    width: 100%;
    height: 400px !important;
    z-index: 1;
}

.img-contact img{
    transition: all 0.3s ease-out!important;
}   
.img-contact img:hover{
    filter: brightness(0.8)!important;
    transform:translateY(-5px);
}

/* ***************************************************************************
******************************************************************************
*****************************PRESUPUEST0*************************************** */

.hero-P {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/P8.png) no-repeat center center/cover;
    filter: brightness(0.6);
    background-attachment: fixed;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px!important;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-container label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.input-container input,
.input-container textarea {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.25rem;
    color: var(--text-color);
}

.input-container input:focus,
.input-container textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(var(--primary-color-rgb), 0.25);
}

.error {
    color: #dc3545;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.valido{
    border:2px solid green!important;
}

.invalido{
    border-color: red!important;
}

/* Estilos para el formulario de presupuesto */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem !important;
    padding: 2rem;
    background-color: var(--terciary-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--text-color-black);
}

.form select,
.form input[type="number"] {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    transition: border-color 0.3s ease;
}

.form select:focus,
.form input[type="number"]:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(170, 149, 115, 0.25);
}

.form input[type="checkbox"] {
    margin-right: 0.5rem;
}

.form div[id="resultado"] {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}

.form div[id="presupuesto-final"] {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--secondary-color);
}

.form div[id="presupuesto-final"] h3 {
    font-size: 1.3rem;
    color: var(--text-color-black);
    margin-bottom: 0.5rem;
}

.form div[id="presupuesto-final"] p {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 400;
}

.form .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form .btn:hover {
    background-color: var(--accent-color) !important;
    color: var(--terciary-white) !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.form .error {
    color: #dc3545;
    font-size: 0.9rem;
    margin-top: 1rem;
   
}

/* Responsive adjustments for the form */
@media (max-width: 768px) {
    .form {
        padding: 1.5rem;
    }

    .form label {
        font-size: 1rem;
    }

    .form select,
    .form input[type="number"] {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .form .btn {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
    }
}






































/* --------@Media Queries--------- */


@media (max-width: 768px) {

    /*nav Responsive */
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: var(--background-color);
        text-align: center;
        transition: all 0.5s ease-out !important;
        flex-direction: column;
        padding: 2rem 0;
        padding-top: 50%;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        font-size: 2.3rem;
        padding: 1rem 2rem;
        width: 100%;
        font-family: var(--font-anton);
        color: var(--color-gray-600) !important;
        text-transform: uppercase;
    }

    nav.menu-open {
        background: var(--accent-color);
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .containerShadow {
        display: none;
    }

    .slider-controls {
        display: none;
    }

    .social-icons {
        left: 8%;

    }

    .about-us {
        margin-top: 100px;
        margin-bottom: -150px;
    }

    .content-title {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--terciary-white);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px;
    }

    .galeryProResponsive {
        margin-bottom: 100px !important;
    }

    /* testimonios */
    .swiper-testimonials {
        margin-left: 0;
        margin-top: -50px;
        z-index: 2;
        margin: 0 auto !important;
    }

    .img-testimonials {
        height: 400px;
    }

    .testimonials-section {
        padding: 2rem 0;
    }

    .swiper-testimonials {
        margin-top: -150px !important;
        margin-right: auto !important;
        margin-left: auto !important;
        padding: 1.5rem;
        width: 400px;
    }

    .testimonials .swiper-slide {
        padding: 1rem;
    }

    .testimonials .swiper-slide h3 {
        font-size: 1.5rem;
    }

    .img-testimonials {
        height: 300px;
        margin-bottom: 1rem;
    }

    .p-video {
        display: none;
    }

    /* Ajustes del slider para móvil */

    .hero {
        height: 100vh!important;
    }

    .hero .swiper-slide {
        height: 100vh!important;
    }

    .content-title {
        width: 90%;
        text-align: center;
        padding: 0 20px;
    }

    .content-title button {
        background-color: var(--background-color);
        color: var(--primary-color);
    }

    .content-title h1 {
        font-size: 2rem;
        text-shadow: none;
        margin-bottom: 30px;
        letter-spacing: -1px;


    }

    .content-title p {
        font-size: 3.5rem;
        font-weight: 400 !important;
        text-align: center !important;
        padding-bottom: 50px;
        text-shadow: none;
        text-align: center;
        letter-spacing: -4px;
    }

    /* Ajustes del segundo slider */
    .hero-content-slider2 {
        width: 90%;
        height: auto;
        position: relative;
        margin-top: 20px;
    }

    .containerShadow {
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px;
    }

    /* Controles del slider */
    .slider-controls {
        bottom: 20px;
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    /* Iconos sociales */
    .social-icons {
        bottom: 20px;
        width: 100%;
        justify-content: center;
    }
}
